model_042324-1455H.keras filter=lfs diff=lfs merge=lfs -text
model_042924-1557H.keras filter=lfs diff=lfs merge=lfs -text
model_043024-1158H.keras filter=lfs diff=lfs merge=lfs -text
model_043024-1850H.keras filter=lfs diff=lfs merge=lfs -text
model.keras filter=lfs diff=lfs merge=lfs -text
model_042824-1737H.keras filter=lfs diff=lfs merge=lfs -text
model_042924-1029H.keras filter=lfs diff=lfs merge=lfs -text
model_042924-1442H.keras filter=lfs diff=lfs merge=lfs -text
model_3.keras filter=lfs diff=lfs merge=lfs -text
model_040224-0837H.keras filter=lfs diff=lfs merge=lfs -text
model_041924-1537H.keras filter=lfs diff=lfs merge=lfs -text
model_042924-1338H.keras filter=lfs diff=lfs merge=lfs -text
model_2.keras filter=lfs diff=lfs merge=lfs -text
model_with_sushi_and_drive.keras filter=lfs diff=lfs merge=lfs -text
model_040224-0748H.keras filter=lfs diff=lfs merge=lfs -text
model_041624-2135H.keras filter=lfs diff=lfs merge=lfs -text
model_041924-2138H.keras filter=lfs diff=lfs merge=lfs -text
model_042324-1728H.keras filter=lfs diff=lfs merge=lfs -text
model_042924-1253H.keras filter=lfs diff=lfs merge=lfs -text
image_classification_model_final.pt filter=lfs diff=lfs merge=lfs -text
uploads/sumn2u.zip filter=lfs diff=lfs merge=lfs -text
uploads/biodegradable.zip filter=lfs diff=lfs merge=lfs -text
uploads/joebeachcapital.zip filter=lfs diff=lfs merge=lfs -text
uploads/non-biodegradable.zip filter=lfs diff=lfs merge=lfs -text
uploads/problematic.zip filter=lfs diff=lfs merge=lfs -text
images/datasets.zip filter=lfs diff=lfs merge=lfs -text
images/tests.zip filter=lfs diff=lfs merge=lfs -text
